html {
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0
}

.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto
}

.px-3 {
    padding-right: 16px !important;
    padding-left: 16px !important
}

.my-5 {
    margin-top: 32px !important;
    margin-bottom: 32px !important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

a {
    background-color: transparent;
    color: #0366d6;

}

h1 {
    font-size: 2em;
    margin: 0.25em 0;
}

h2 {
    margin: 0.25em 0;
}

p {
    margin: 0;
}

#contact-box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/* #project-panel */

#project-list {
}

.project {
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.project + .project
{
    margin-top: 1rem;
}

.project *
{
    margin: 0;
}

.project-brief {
    display: inline;
}

.project-brief::after {
    content: " ";
}

.project-date {
    display: flex;
    gap: 1em;
    font-style: italic;
}

.section-header {
    display: flex;
    align-items: baseline;
}

.section-title {
    white-space: pre-wrap;
}

.section-title::after {
    content: " ";
}
