:root {
    --corner-radius: 5px;
    --gap: 1rem;
    --shadow-color: rgba(0, 0, 0, 0.1)
}

html {
    font-family: "Inter", sans-serif;
}

body {
    max-width: 920px;
    margin-top: 32px !important;
    margin-bottom: 32px !important;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px !important;
    padding-left: 16px !important;
}

h1 {
    font-size: 2em;
    margin: 0.25em 0;
}

p {
    margin: 0;
}

a {
    background-color: transparent;
    color: #0366d6;

}

hr {
    margin: var(--gap) 0;
    color: var(--shadow-color);
}

#contact-box {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    margin: var(--gap) 0;
}

#container-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

#small-card-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

#large-card-container {
    --min-item-width: 220px;
    --max-columns: 2;
    display: grid;
    align-items: start;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fit,
            minmax(min(100%,
                    max(var(--min-item-width),
                        calc((100% - (var(--max-columns) - 1) * var(--gap)) / var(--max-columns)))),
                1fr));
}

.card {
    border-radius: var(--corner-radius);
    box-shadow: 0 0px 2px var(--shadow-color);
    cursor: pointer;
    transition: all 0.18s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.card:hover {
    box-shadow: 0px 0px 4px 4px var(--shadow-color);
}

.card-content {
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 1;
    flex-grow: 1;
}

.flex-grow {
    flex-grow: 1;
}

.project-icon {
    max-width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 16px;
}

.project-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.name {
    margin: 0;
}

.project-title {
    display: flex;
    justify-content: flex-start;
}

.project-date {
    /* margin-left: auto; */
    color: lightgray;
}

.project-brief {
    display: inline;
}

.project-brief::after {
    content: " ";
}

.cover {
    width: 100%;
    transition: all 0.2s ease;
}

.cover:hover {
    scale: 1.2;
}