:root {
    --corner-radius: 5px
}

html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0
}

.container-lg {
    max-width: 920px;
    margin-right: auto;
    margin-left: auto
}

.px-3 {
    padding-right: 16px !important;
    padding-left: 16px !important
}

.my-5 {
    margin-top: 32px !important;
    margin-bottom: 32px !important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

a {
    background-color: transparent;
    color: #0366d6;

}

h1 {
    font-size: 2em;
    margin: 0.25em 0;
}

h2 {
    margin: 0.25em 0;
}

p {
    margin: 0;
}

#contact-box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 1rem 0;
}

/* #project-panel */

.project {
    border-radius: var(--corner-radius);
    padding: 1rem;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.clickable-project {
    cursor: pointer;
    border-radius: var(--corner-radius);
}

.clickable-project:hover {
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}

.project + .project
{
    margin-top: 1rem;
}

.project *
{
    margin: 0;
}

.project-info {
    flex-grow: 1;
}

.project-icon {
    max-width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 16px;
}

.project-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-title {
    display: flex;
    justify-content: flex-start;
}

.project-date {
    /* margin-left: auto; */
    color: lightgray;
}

.project-brief {
    display: inline;
}

.project-brief::after {
    content: " ";
}

.section-header {
    display: flex;
    align-items: baseline;
    gap: 0 16px;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.section-title {
    white-space: pre-wrap;
    margin: 0;
}

.section-title::after {
    content: " ";
}

.about-me {
    margin: 1em 0;
}

.end-matter {
    margin-top: 1em;
}

#game-embed {
    position: fixed;
    display: none;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}

#close-game-embed {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

#iframe-outer {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
    border-radius: var(--corner-radius);
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}

#iframe {
    width: 100%;
    height: 100%;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

#website-update {
    color: lightgray;
}

.gif-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.gif-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gif {
    display: block;
    width: 25%;
}

.screen {
    width: 100%;
    border-radius: var(--corner-radius) var(--corner-radius) 0 0;
}

.flex-v {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

:root {
  --star-grid-gap: 1rem;
  --star-grid-min-item-width: 220px;
  --star-grid-max-columns: 2;
}

.star-grid {
  display: grid;
  align-items: start;
  gap: var(--star-grid-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      min(
        100%,
        max(
          var(--star-grid-min-item-width),
          calc((100% - (var(--star-grid-max-columns) - 1) * var(--star-grid-gap)) / var(--star-grid-max-columns))
        )
      ),
      1fr
    )
  );
}

.star-entry {
}


.star-entry .project {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
