name: Add project
on:
  workflow_dispatch:
    inputs:
      id:
        type: string
        description: ID
        required: true
      name:
        type: string
        description: Name
        required: true
      brief:
        type: string
        description: Description
        required: true
      date:
        type: string
        description: Date
        required: true
        default: "2002-06-11 UTC"
      link:
        type: string
        description: Link
        required: true
      hidden:
        type: boolean
        description: Hidden?
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: What's here?
        run: ls
      - name: Run add_project.py with inputs as args
        run: python add_project.py --id '${{ github.event.inputs.id }}' --name '${{ github.event.inputs.name }}' --brief '${{ github.event.inputs.brief }}' --date '${{ github.event.inputs.date }}' --link '${{ github.event.inputs.link }}' --hidden '${{ github.event.inputs.hidden }}'
