name: Add project
on:
  workflow_dispatch:
    inputs:
      id:
        type: string
        description: ID
        required: true
      name:
        type: string
        description: Name
        required: true
      brief:
        type: string
        description: Description
        required: true
      date:
        type: string
        description: Date
        required: true
        default: "2002-06-11 UTC"
      link:
        type: string
        description: Link
        required: true
      hidden:
        type: boolean
        description: Hidden?
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "hello, world"
