name: Add project
on:
  workflow_dispatch:
    inputs:
      id:
        type: string
        description: ID
        required: true
      name:
        type: string
        description: Name
        required: true
      brief:
        type: string
        description: Description
        required: true
      date:
        type: string
        description: Date
        required: true
        default: "2002-06-11 UTC"
      link:
        type: string
        description: Link
        required: true
      hidden:
        type: boolean
        description: Hidden?
      cover:
        type: boolean
        description: Cover Image?
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
      - name: What's here?
        run: ls
      - name: Debug Inputs
        run: echo "${{ toJSON(github.event.inputs) }}"
      - name: Run add_project.py with inputs as args
        run: >
          python add_project.py
          --id '${{ github.event.inputs.id }}'
          --name '${{ github.event.inputs.name }}'
          --brief '${{ github.event.inputs.brief }}'
          --date '${{ github.event.inputs.date }}'
          --link '${{ github.event.inputs.link }}'
          ${{ github.event.inputs.hidden == 'true' && '--hidden' || '' }}
          ${{ github.event.inputs.cover == 'true' && '--cover' || '' }}
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Add project ${{ github.event.inputs.name }}
