name: Add project
on:
  workflow_dispatch:
    inputs:
      id:
        type: string
        description: ID of this project, used to retrieve the icon and optional image.
        required: true
      name:
        type: string
        description: Name of this project, shown on the portfolio.
        required: true
      brief:
        type: string
        description: Description of this project, shown on the portfolio.
        required: true
      date:
        type: string
        description: When this project was initially published/created.
        required: true
        default: "2002-06-11 UTC"
      link:
        type: string
        description: Where this project can be viewed when clicked on. Typically, the itch.io page.
        required: true
      hidden:
        type: boolean
        description: Whether to hide this on the portfolio or not.
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "hello, world"
